// $primary-color ?= #435A64
$primary-color ?= #96704D
$primary-action-color ?= #2CC990

$interaction-default-color ?= #96704D
$interaction-current-color ?= #49301F
$interaction-hover-color ?= $interaction-current-color

// $interaction-default-background-color ?= #2580A2
$interaction-current-border-color ?= #96704D
$interaction-hover-border-color ?= $interaction-default-border-color

$pre-color ?= #eee
$pre-background ?= #1b2426

$blockquote-border-color ?= #96704D
